@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.sec4-box{
    display: flex;
    background: #AA9E54;
    padding: 50px 0 50px 100px;
    gap: 190px;
}
.sec4-box h6{
    font-weight: bold;
    font-family: 'Azeret Mono', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
}
.sec4-box p{
    font-family: 'inter', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}
@media (max-width: 480px){
    .sec4-box{
        display: flex;
        flex-direction: column;
        background: #AA9E54;
        padding: 20px 0 0 10px;
        gap: 0;
    }
    .sec4-box h6{
        font-weight: bold;
        font-family: 'Azeret Mono', sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .sec4-box p{
        font-family: 'inter', sans-serif;
        font-size: 22px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }
    .sec4-left{
        padding-top: 20px;
    }
    .sec4-center{
        padding-top: 35px;
    }
    .sec4-right{
        padding: 35px 0 30px 0;
    }
}